# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.db

# Node
node_modules/
dist/
build/
.vite/
.output/


# Orionix Models and Data
/models/
data/
*.log
*.txt
test_result.json

!resources/data/.gitkeep
